
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

@section SectionTitle
{
    Order Confirmation
}

<div style="margin-top: 100px;text-align: center">
    Thank you! Your order has been confirmed!
</div>